#footer {
  background: rgba(18, 18, 18, 1);

  .footer {
    .footer_main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 80px 0 48px 0;
    }

    nav.desktop_nav {
      display: flex;
      align-items: center;
      gap: 65px;

      a {
        text-transform: capitalize;
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
      }

      a:hover {
        text-transform: capitalize;
        color: rgba(255, 255, 255, 1);
        font-size: 18px;
        text-decoration: none;
        font-weight: 500;
        transform: scale(1.05);
      }
    }

    .footer_contact {
      display: flex;
      gap: 32px;

      a {
        color: white;
        svg {
          font-size: 30px;
        }
      }
    }

    hr {
      border: 1px solid rgba(255, 255, 255, 0.8);
      margin: 0;
    }

    p {
      font-size: 14px;
      padding: 25px 0 40px 0;
      text-align: center;
      text-transform: capitalize;
      font-weight: 500;
      color: white;
      margin: 0;
    }
  }
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
  #footer {
    .footer {
      .footer_main {
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0 30px 0;
      }

      nav.desktop_nav {
        display: none;
      }

      h2 {
        margin-bottom: 15px;
        font-family: "Almendra", serif;
      }

      .footer_contact {
        position: relative;
        display: flex;
        align-self: flex-end;
        margin-top: -30px;
        gap: 20px;

        svg {
          font-size: 24px;
        }
      }

      p {
        text-align: left;
        padding: 15px 0 20px 0;
        font-size: 12px;
      }
    }
  }
}

/* Специфический стиль для мобильных устройств */
@media (max-width: 375px) {
  #footer {
    .footer {
      .footer_main {
        padding: 30px 0 20px 0;
      }

      h2 {
        font-size: 20px;
      }

      .footer_contact {
        margin-top: -25px;

        svg {
          font-size: 20px;
        }
      }
    }
  }
}
